In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("../Dataset/entrenamiento.xlsx")

In [8]:
data.head()

,C1,C2,C3,C4,C5,C6,C7,C7.1,C9,C10,C11,des
0,6.8,0.190620,0.307485,18.1,46.00,32.0,4.897840,1.00000,3.27,0.392042,8.8,5
1,6.2,0.246860,NaN,5.0,43.00,50.0,5.241747,0.99318,3.23,0.494696,10.8,6
2,6.7,0.350657,0.329304,12.1,0.04,61.0,5.517453,0.99794,3.31,0.457425,9.7,5
3,6.8,0.254642,0.405465,13.3,53.00,48.0,5.273000,0.99740,3.09,0.371564,9.4,5
4,6.6,0.215111,0.239017,15.8,35.00,46.0,5.241747,0.99820,3.24,0.412110,9.2,5

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3918 entries, 0 to 3917
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C1      3684 non-null   float64
 1   C2      3664 non-null   float64
 2   C3      3648 non-null   float64
 3   C4      3636 non-null   float64
 4   C5      3659 non-null   float64
 5   C6      3655 non-null   float64
 6   C7      3645 non-null   float64
 7   C7.1    3646 non-null   float64
 8   C9      3658 non-null   float64
 9   C10     3639 non-null   float64
 10  C11     3658 non-null   float64
 11  des     3918 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 367.4 KB

In [10]:
data.isna().sum()

C1      234
C2      254
C3      270
C4      282
C5      259
C6      263
C7      273
C7.1    272
C9      260
C10     279
C11     260
des       0
dtype: int64